/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* app/globals.scss */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply font-roboto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.navbar {
  @apply bg-gray-800 p-4;

  .nav-list {
    @apply flex list-none m-0 p-0;

    .nav-item {
      @apply mr-4;

      a {
        @apply text-white no-underline hover:underline;
      }
    }
  }
}
